#map {
    height: 100%;
    width: 100%;
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-image: url('https://s3-us-west-1.amazonaws.com/skyvibes-images/WeatherCollage.png');
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
    display: none;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    display: none;
}

#pac-input:focus {
    border-color: #4d90fe;
}

h1 {
    font-size: 50px;
}

#study-link {
    font-weight: heavy;
}

#about-link.al-light {
    background-color: rgba(245, 245, 245, 0.4);
    color: #fff;
    border-color: #d3d3d3;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
    top: 5%;
    left: 5%;
    position: absolute;
}

#about-link.al-dark {
    background-color: rgba(245, 245, 245, 0.4);
    color: #000;
    border-color: #3d3d3d;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
    top: 5%;
    left: 5%;
    position: absolute;
}

.modal-content {
    background-color: rgba(245, 245, 245, 0.9);
    border-color: #d3d3d3;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
}

.title-heading-light {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    margin-left: 32%;
    margin-right: 33%;
    text-align: center;
    padding: 2em;
    margin-top: 2%;
    background-color: rgba(245, 245, 245, 0.4);
    border-color: #d3d3d3;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
}  

.title-heading-dark {
    font-family: 'Raleway', sans-serif;
    color: #000;
    margin-left: 32%;
    margin-right: 33%;
    text-align: center;
    padding: 2em;
    margin-top: 2%;
    background-color: rgba(245, 245, 245, 0.4);
    border-color: #3d3d3d;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#mapModal.mm-light {
    top: 5%;
    right: 5%;
    position: absolute;
    color: white;
    cursor: pointer;
}

#mapModal.mm-dark {
    top: 5%;
    right: 5%;
    position: absolute;
    color: #000;
    cursor: pointer;
}

.weather-header {
    top: 5%;
    left: 5%;
    position: absolute;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#weather-desc.wd-light {
    position: relative; 
    bottom: 200px; 
    padding: 75px;
    color: #fff;
}

#weather-desc.wd-dark {
    position: relative; 
    bottom: 200px; 
    padding: 75px;
    color: #000;
}

#location-name {
    position: relative; 
    bottom: 200px; 
    padding: 75px;
}

#player {
    position: fixed; 
    bottom: 0px; 
    width: 100%;
}

#weather-icon {
    width:100%;
    opacity: 0;
}

#temperature {
    position: relative; 
    top: 100px;
}